<!DOCTYPE html>
<html>
  <head>
    <title>RailsReactReversi</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'reversiApp/index' %>
    <%= stylesheet_pack_tag 'reversiApp/assets/stylesheets/squareStyles' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
